<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI 小工具</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="body">
    <form action="/" method="post">
      <div class="card">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1166/1166976.png?w=900&t=st=1685694867~exp=1685695467~hmac=5568cdfc5e047118deb9005461d2e0a43633dd853e7b937299370e170071d7dc"
          alt="headphone_logo"
          class="card-img"
        />
        <h1 class="card-title">AI Jukebox</h1>
        <p class="card-text">
          <% if (description.length) { %> <%= description %> <% } else { %> <%=
          'Hi there!' %> <% } %>
        </p>
        <input
          type="text"
          name="description"
          class="card-input"
          placeholder="來跟我分享你的心情吧！"
        />
        <button type="submit" class="card-btn">Play</button>
      </div>
    </form>
  </body>
</html>
